.Song {
  align-items: center;
  animation-duration: 0.3s;
  animation-name: animate-in;
  background: #fff;
  border-radius: 4px;
  display: flex;
  margin-bottom: 8px;
  overflow: visible;
  padding: 10px;
}

@keyframes animate-in {
  from {
    height: 0px;
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.Song .StartedAt {
  font-weight: lighter;
  letter-spacing: -1px;
  padding-right: 8px;
  width: 60px;
}

.Song .SongInfo,
.Song .EditInfo {
  flex-grow: 1;
}

.Song .SongInfo .unknown {
  font-style: italic;
  color: #666;
}

.Song .Title {
  display: block;
}

.Song .ArtistAndAlbum {
  font-size: 0.9rem;
  font-style: italic;
}

.Song .CornerButton {
  align-self: flex-start;
  flex-grow: 0;
  opacity: 0.1;
  position: relative;
  right: -5px;
  top: -5px;
  transition: opacity 0.2s ease;
}

.Song:hover .CornerButton {
  opacity: 1;
}

.AddSongButton {
  float: right;
  position: relative;
  top: -20px;
  opacity: 0.4;
}

.AddSongButton:hover {
  opacity: 1;
}

@keyframes slide-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Song .EditInfo {
  animation-duration: 0.2s;
  animation-name: slide-down;
}

.Song .EditInfo .Buttons {
  display: flex;
  justify-content: flex-end;
}
.Song .EditInfo .Buttons > * {
  margin-left: 4px;
}
